@import "tailwindcss";
@plugin "daisyui";

/* Apply full dark mode globally */
body, html {
  @apply bg-gray-900 text-white;  /* Tailwind classes for full dark mode */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* Ensure navbar and sections have the same color */
nav, header, main, footer {
  @apply bg-gray-900;
}


@media (max-width: 768px) {
  body, html {
    @apply bg-gray-900 text-white;
  }
  nav, header, main, footer {
    @apply bg-gray-900;
  }
}